NET GTX_REFCLK_P LOC="H4";
NET GTX_REFCLK_N LOC="H3";
NET RESET LOC="AJ6";
NET UART_RX LOC="AG15";
NET UART_TX LOC="AG20";
NET TX_INHIBIT LOC="U25";
NET SW<0> LOC="AC24";
NET SW<1> LOC="AC25";
NET SW<2> LOC="AE26";
NET LEDS<0> LOC="AE24";
NET LEDS<1> LOC="AD24";
NET LEDS<2> LOC="AD25";
NET LEDS<3> LOC="G16";
NET LEDS<4> LOC="AD26";
NET LEDS<5> LOC="G15";
NET LEDS<6> LOC="L18";
NET LEDS<7> LOC="H18";
#NET "gtx_i/refclkout_pll0_i/clkout0_i" TNM_NET = gtx_i/refclkout_pll0_i/clkout0_i;
#TIMESPEC TS_gtx_i_refclkout_pll0_i_clkout0_i = PERIOD "gtx_i/refclkout_pll0_i/clkout0_i" 12.8 ns HIGH 50%;
#NET "gtx_i/refclkout_pll0_i/clkout1_i" TNM_NET = gtx_i/refclkout_pll0_i/clkout1_i;
#TIMESPEC TS_gtx_i_refclkout_pll0_i_clkout1_i = PERIOD "gtx_i/refclkout_pll0_i/clkout1_i" 6.4 ns HIGH 50%;
#NET "gtx_i/tile0_refclkout_i" TNM_NET = gtx_i/tile0_refclkout_i;
#TIMESPEC TS_gtx_i_tile0_refclkout_i = PERIOD "gtx_i/tile0_refclkout_i" 6.4 ns HIGH 50%;
NET "GTX_REFCLK_P" TNM_NET = GTX_REFCLK_P;
TIMESPEC TS_GTX_REFCLK_P = PERIOD "GTX_REFCLK_P" 16 ns HIGH 50%;
NET "GTX_REFCLK_N" TNM_NET = GTX_REFCLK_N;
TIMESPEC TS_GTX_REFCLK_N = PERIOD "GTX_REFCLK_N" 16 ns HIGH 50%;
NET "gtx_i/refclkout_pll0_i/clkout0_i" TNM_NET = gtx_i/refclkout_pll0_i/clkout0_i;
TIMESPEC TS_gtx_i_refclkout_pll0_i_clkout0_i = PERIOD "gtx_i/refclkout_pll0_i/clkout0_i" 25.6 ns HIGH 50%;
NET "gtx_i/refclkout_pll0_i/clkout1_i" TNM_NET = gtx_i/refclkout_pll0_i/clkout1_i;
TIMESPEC TS_gtx_i_refclkout_pll0_i_clkout1_i = PERIOD "gtx_i/refclkout_pll0_i/clkout1_i" 12.8 ns HIGH 50%;
NET "gtx_i/tile0_refclkout_i" TNM_NET = gtx_i/tile0_refclkout_i;
TIMESPEC TS_gtx_i_tile0_refclkout_i = PERIOD "gtx_i/tile0_refclkout_i" 16 ns HIGH 50%;
